*{
    box-sizing: border-box;
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    
}

/* https://cdn.pixabay.com/photo/2018/05/26/01/48/thunderstorm-3430471_960_720.jpg */
.main{
	height: 100vh;
	width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2022/09/17/20/31/ocean-7461792_1280.jpg");
    background-image: url("https://cdn.pixabay.com/photo/2018/05/26/01/48/thunderstorm-3430471_960_720.jpg");
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    padding-top: 1.5%;
    /* background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    height: 80px;*/
} 

.logo{
    font-size: 2.5rem;
    color: aliceblue;
}

.logo span{
    color: rgb(57, 57, 247);
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    padding: 10px 20px;
}

.navbar ul li a{
    font-size: 1.2rem;
}


.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

.navbar a:hover, .login:hover{
    color: rgb(235, 235, 235);
    transform: scale(0.99);
}

.login{
    background-color: rgb(77, 77, 246);
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-family: 'Times New Roman';
}


.content{
    padding: 0 10%;
    padding-top: 12%;
    color: white;
}

.content-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* same of the top of content if not use padding */
/* .main{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
}

.main-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
    position: fixed;
    margin: 0 auto;
    margin-top: 300px;
    padding: 0 50px;
} */

.content-main *{
    margin-bottom: 30px;
}

.content-main h4{
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0;
}

.content-main h1{
    font-size: 100px;
    margin-bottom: 10px;
}

.content-main p{
    font-size: 20px;
}

.content-main button{
    font-size: 20px;
    color: rgb(60, 60, 60);
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* .service{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.box{
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    /* column-gap: 150px; */
    /* row-gap: 150px;  */
    flex-direction: row;
}

.card{
    color: red;
    text-align: center;
    padding: 80px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: 30vh;
    margin-bottom: 500px;
  }
  
.it1 {
    box-sizing: border-box;
    width: 30%;
    /* margin-bottom: 20px; */
    padding-right: 10px;
}

.it2 {
    box-sizing: border-box;
    width: 70%;
    /* margin-bottom: 20px;*/
    /* padding: 0px 10px;  */
}

.imgcon{
    height: 100%;
    margin-bottom: -10px;
}

.con {
    color: #242424;
    background-color: #1bbefe;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    /* padding: 10px; */
}

.project{
    /* padding: 3% 10%;
    padding-top: 100px;
    margin-top: 100px;
    background-color: red;
    height: 50vh; */
    padding: 0 10%;
    padding-top: 12%;
    color: white;
    background-color: red;
}